.carousel-container {
    width: 100%;
    height: 100vh; /* Ocupa 100% da altura da tela */
    overflow: hidden;
  }
  
  .carousel-slide img {
    width: 100%;
    height: 80vh; /* A imagem preenche 100% da altura */
    object-fit: cover; /* Garante que a imagem preencha sem distorção */
  }



    
  