.carousel-container {
    width: 100%;
    height: 100vh; /* Ocupa 100% da altura da tela */
    overflow: hidden;
  }
  
  .carousel-slide img {
    width: 100%;
    height: 90vh; /* A imagem preenche 100% da altura */
    object-fit: fill; /* Garante que a imagem preencha sem distorção */

  }
  

  @media (max-width: 600px) {
    .carousel-slide img {
      height: 80vh; 
      object-fit: cover; 
    }
  }

    
  